$size: 16;
$color: #bfffa5;
$backgroundColor: #000;

body {
  padding: $size / 8 + px $size / 2 + px;
  background: $backgroundColor;
  color: $color;
  font-size: $size;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #2d4e20;
}



h1 {
  font-size: 1.7em;
  line-height: 1.8em;
  text-align: center;
  color: white;
  text-shadow: 0 .5em .5em black;
}



@media all and (max-width: 1000px) {
  h1 {
    font-size: 10vw;
  }

  main {
    font-size: 1.6rem;
  }
}